{% extends "index.html" %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action="{% url 'placeorder' %}" method="post" class="checkout-form">
                {% csrf_token %}
                  
                <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_bilBagOBVTi4lE"
                data-amount={{response.amount}} data-currency={{response.currency}} data-buttontext="Pay with Razorpay"
                data-name="{{request.user}}" data-theme.color="#F37254" data-description="" data-image=""
                data-prefill.name={{request.user.username}} data-prefill.email={{request.user.email}}>
                </script>
                <input type="hidden" custom="Hidden Element" name="hidden">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Biiling Details</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fir">First Name<span>*</span></label>
                            <input type="text" id="fir" name="first_name" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Last Name<span>*</span></label>
                            <input type="text" id="last" name="last_name" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="cun">Country<span>*</span></label>
                            <input type="text" id="cun" name="contry" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="street">Street Address<span>*</span></label>
                            <input type="text" id="street" class="street-first" name="address" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="zip">Postcode / ZIP (optional)</label>
                            <input type="text" name="pincode" required>
                        </div>
                        <div class="col-lg-12">
                            <label for="town">Town / City<span>*</span></label>
                            <input type="text" id="town" name="city" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Email Address<span>*</span></label>
                            <input type="text" id="email" name="email" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Phone<span>*</span></label>
                            <input type="text" id="phone" name="phone" required>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                       

                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    <li>Product <span>Total</span></li>
                                    {% for i in pro %}
                                    <li>{{i.pro_name}} X {{i.qtn}}<span>&#8377;{{i.total}}</span></li>
                                    {% endfor %}
                                    <li>Subtotal <span>&#8377;{{sub_total}}</span></li>
                                    <li>Delivery charge <span>+ &#8377;50</span></li>
                                    <li>Coupon discount <span> - &#8377;{{cid}}{{cid1}}{{cid2}}</span></li>
                                    <li class="cart-total">Total <span>&#8377;{{total2}}</span></li>
                                </ul>
                                <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="order-btn">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
 <!-- Coupon -->
                        {% comment %} <div class="checkout-content">
                            <h6>Discount Codes</h6>
                            <form action="{% url 'apply_coupon' %}" method="post" class="coupon-form">
                                {% csrf_token %}
                                <input type="text" name="code" placeholder="Enter your codes">
                                <button type="submit" class="site-btn coupon-btn">Apply</button>
                            </form>
                        </div> {% endcomment %}
                        
                        {% comment %} <h3>Coupon :</h3><br>
                        <ul>{% for i in read %}
                            <div class="alert alert-dark" role="alert">
                                <li>{{i.code}} :-</li>
                                <li>&nbsp; &nbsp; &nbsp;discount &#8377; {{i.discount_amount}}</li>
                                <li>&nbsp; &nbsp; &nbsp;purchase range {{i.min_order_amount}}-{{i.max_order_amount}} </li>
                              </div>
                           
            
                            {% endfor %}
                        </ul>
                        &nbsp;
                        &nbsp; {% endcomment %}
                        <!-- -->
    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'img/logo-carousel/logo-1.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'img/logo-carousel/logo-2.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'img/logo-carousel/logo-3.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'img/logo-carousel/logo-4.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'img/logo-carousel/logo-5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
    {% endblock  %}